/* base rules */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* max-width fixes the spacing issue in work section */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

.r-btn {
  padding-bottom: 5px 20px;
  background-color: #e4828d !important;
  color: white !important;
}

.bg-sec {
  background: #f8f9fa;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99998;
}

.preloader:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: black;
  transition: 1s;
}

.preloader:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: black;
  transition: 1s;
}

.preloader.complete:before {
  bottom: -50%;
}

.preloader.complete:after {
  top: -50%;
}

.preloader.complete {
  visibility: hidden;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid #e4828d;
  animation: animate 1.5s infinite linear;
  z-index: 99999;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* navigation */

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav .navbar-brand {
  font-size: 30px;
  color: white;
  /* transition: 0.5s all; */
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyadd {
  background: white !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: black;
  font-size: 40px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: black !important;
}

.navbar .hamburger {
  color: white;
}

nav.stickyadd .hamburger {
  color: black;
}

.space {
  height: 40px;
}

.r-p {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* header */

header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/old-well.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: white;
}

.content-box h4 {
  font-size: 30px;
}

.content-box h1 {
  font-size: 52px;
}

@media (min-width: 150px) {
  .content-box h1 {
    font-size: 27px;
  }
}

@media (min-width: 380px) {
  .content-box h1 {
    font-size: 30px;
  }
}

@media (min-width: 500px) {
  .content-box h1 {
    font-size: 40px;
  }
}

@media (min-width: 700px) {
  .content-box h1 {
    font-size: 52px;
  }
}

.content-box a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 25px;
}

.content-box a:hover {
  color: black;
  background: white;
  transition: 0.5s all;
}

.content-box p {
  color: white;
}

/* about section*/

.about li a {
  color: black;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: #e4828d;
}

/* experience section */

.exp-class .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}

.progress-bar {
  background-color: #e4828d !important;
}

.exp-class label {
  font-size: 20px;
  margin: 10px;
}

/* service section */

.card,
.card-header {
  background: #f8f9fa !important;
}

.card-header {
  border: none !important;
}

.services-class .card-header i {
  font-size: 50px;
}

.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #e65f78;
}

/* testimony section */

.testimony-class .test-item {
  max-width: 500px;
  margin: 50px auto;
}

.testimony-class .test-item .test-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimony-class .test-item i {
  color: grey;
}

.test-item p.test-name {
  font-size: 11px;
}

/* work section */

.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* footer */

footer {
  height: 200px;
  background-color: #333333;
}

footer .r-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}

footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}

small {
  color: #848484;
}
